body {
  font-size: 16px;
  font-weight: normal;
  margin: 0px;
  background-color: #eeeeee;
  font-family: "Montserrat", sans-serif;
  overflow-x:hidden;
  overflow-y:scroll;
}
input:focus{
    outline: none;
}
#holder{
    width:300px;
    height:300px;
    //margin: 0 auto;
    text-align: center;
    font-size: 100px; 
}
#holder:hover{
    color: #20c0bb ;
}
/* ------------------------------------------------------------------------------------ */
#top-container{
    width: 100%;
    margin: auto;
    background-color: #20c0bb ;
}
#logo{
    padding-left: 3%;
    padding-top: 3%;
}
#logo-container{
    width:65%;
    float: left;
    height: 88;
    background-color: #20c0bb;
}
#banner{
    width: 450%;
    float: left;
    height: 90px;
    background-color: #20c0bb ;
    text-align: center;
}
#clear{
    clear: both;
}
#search{
    border-radius: 10px;
    display:inline-block;
    height: 50px;
}
#searchbar{
    height:100%;
    display: inline-block;
    width:80%;
    border:none;
    border-radius: 10px;
    padding-left: 10px;
}
.searchresult{
    height:55px;
    white-space: pre;
    border-radius: 5px;
    line-height:30px;
    font-size:14px;
    background-color: white;
    text-align: center;
    visibility: hidden;
    color: black;
    border: 2px solid black;
}
.searchresult:hover{
    text-shadow: 0px 0px 12px rgba(0,152,153,1);
    cursor: pointer;
}
#searchpic{
    margin: 0 auto;
    vertical-align: middle;
}
#arrow-down {
  width: 0; 
  height: 0; 
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-top: 25px solid white;
  visibility: hidden;
  margin: 0 auto;
}
.break{
    visibility: hidden;
}
/* ------------------------------------------------------------------------------------ */

.space{
    clear:left;
    width:100%;
    height:5px;
    background-color: #eeeeee;
}
#menu-container{
    width:15%;
    float:left;
}
#home:hover{
    cursor: pointer;
}
.optsel{
    height:40px;
    width:100%;
    color:White;
    background-color: #20c0bb ;
    cursor: text;
}
.optno{
    height:40px;
    width:100%;
    color:Black;
    background-color: White;
    cursor: pointer;
}
.menu-text{
    padding-left: 10px;
    padding-top: 5px;
    text-align: left;
    font-size: 24px;
    cursor: text;
    display: inline-block;
}
.menu-link{
    text-align:right;
    padding-top: 10px;
    font-size:18px;
    width:50%;
    display: inline-block;
    vertical-align: middle;
}
.icon{
    float: right;
    display: inline-block;
    vertical-align: middle;
    position: relative;
    top: 5px;
    right:10px;
}
#reboot{
    width:100%;
    margin: 0 auto;
    padding-left: 30px;
    
}
/* ------------------------------------------------------------------------------------ */
#child_p{
    width:82%;
    height:80%;
    margin:10px;
    margin-top:0px;
    float:left;
    position: relative;
}
#middle-container{
    width: 100%;
    margin: auto;
    padding: 10px;
}
/* ------------------------------------------------------------------------------------ */
form{
    margin: 0 auto;
    width:75%;
}
.mapform{
    margin: 0 auto;
    width: 95%;
}
save{
    cursor:pointer;
}
th{
    padding: 10px
}
input{
    height:30px;
    font-size: 16px;
    width: 75%;
}
.radchoice{
    width:5%;
    height:30px;
    vertical-align: middle;
}
select{
    height: 30px;
    font-size:16px;
}
#binup{
    width:250px;
    font-size:20px;
}
td{
    text-align: center;
    vertical-align: middle;
}
.save {
  display: inline-block;
  border-radius: 4px;
  background-color: #20c0bb ;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 24px;
  padding: 10px;
  width: 125px;
  transition: all 0.5s;
  cursor: pointer;
  height: 50px;
  
}
.save:hover{
    box-shadow: 0 12px 20px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
/* ------------------------------------------------------------------------------------ */
#mapping-table{
    width:75%;
    border: 2px solid black;
}
.mappingh{
    height: 50px;
    color: white;
}
#mappingHeader{
    background-color: #20c0bb ;
}
#buttons-container{
    padding: 40px;
    margin: 0 auto;
    text-align: center;
}
#add , #delete{
    display: inline-block;
    width: 250px;
    margin: auto;
}
#num-adds{
    width: 30px;
    padding-left:5px;
}
#select-all:hover{
    text-decoration: underline;
    cursor: pointer;
}

.round-menu-item{
    width:50px;
    height:50px;
    border-color: black;
    margin: auto;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    padding-right:10px;
    padding-left:10px;
    padding-top: 10px;
    background-color: red;
}
.wrapper{
    text-align: center;
}
/* ------------------------------------------------------------------------------------ */
.statusBox{
    width:25%;
    display: inline-block;
    float:left;
    text-align: left
}
.statusHead{
    font-size: 20px;
    padding-left: 15px;
    line-height: .5
}
.statusL{
    font-size: 14px;
    padding-left: 30px;
    line-height: .5
}
.assembly{
    display: inline-block;
    float: left;
    width: 50%;
    height: 50%;
    text-align: center;
}
.asmTh{
    color: white;
    background: #20c0bb ;
    border-bottom: 1px solid black;
}
.asmTab{
    width:100%;
    table-layout: fixed;
    border-collapse: collapse;
    border: 1px solid black
}
#pop{
    height:30px;
    border: 1px solid black;
    background: #20c0bb ;
    white-space: normal;
    overflow:overlay;
    border-radius: 15px;
    color: white;
    width: 10%;
}
.asmDiv{
    height: 30px;
    position: relative;
    z-index: 0;
}
.asmTd{
    border-bottom: 1px solid black;
    position: relative;
    vertical-align: middle;
}
.show-hover{
    background: rgba(0,152,153, 1);
    width: 301%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    visibility: hidden;
    opacity: 0;
    border: 1px solid white;
}
.wrap{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.asmTr:hover .show-hover{
    visibility: visible;
    opacity: 1;
}
.asmTr:hover{
    visibility: hidden;
}
/* ------------------------------------------------------------------------------------ */
#config-container{
    display: inline-block;
    vertical-align: middle;
    height: 35%;
    width:50%;
    text-align: center;
}
#result-container{
    display: inline-block;
    height: 300px;
    width:100%;
    text-align: center;
}
#preview-container{
    display: inline-block;
    vertical-align: middle;
    height: 35%;
    width:50%;
    text-align: center;
    float:right;
    overflow-x: hidden;
    overflow-y: scroll;
}
div[class^='grouping']{
    line-height: .5;
    width: 75%;
    border: 1px solid black;
    margin: 5px;
    text-align: left;
    display: inline-block;
    background-color: #20c0bb ;
    padding-left: 5px;
    border-radius: 5px;
}
.grouping-delete{
    float:right;
    display: inline-block;
}
.grouping-delete:hover{
    cursor:pointer;
}
.select{
    width: 50%;
    float: left;
}
.select#left{
    text-align: right;
}
.groupSel{
    display: inline-block;
    background-color: #20c0bb ;
    color: white;
    width: 30%;
    height:65%;
    font-size: 18px;
    text-align: center;
    border-radius: 5px;
    margin-top: 5px;
    margin-left: 10px
}
.select-label{
    display: inline-block;
    font-size: 36px;  
    font-weight: bold;
}
.disabled{
    background-color: #eeeeee;
    border: 1px solid black;
}
.side-contain{
    width:49.6%;
}
#input-contain{
    float:left;
    border-right: 5px solid black;
}
#output-contain{
    float:right;
}
